# User-specific files
*.suo
*.user
*.userosscache
*.userprefs
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Pp]ublish/
[Dd]ist/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml

# Code coverage results
*.dotCover
*.coverage
*.coveragexml

# Visual Studio and Visual Studio Code
.vs/
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Misc
*.[Cc]ache
*.tmp
*.log
*.svclog
*.scc

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Node.js
**/node_modules/

# Cake
tools/
!tools/packages.config

# Frontend
**/wwwroot/css/
**/wwwroot/js/
